
*.obj
*.log
*.txt
*.tlog
*.pch
*.dll
*.exe
*.idb
*.lib
*.map
*.exp
*.ilk
*.pdb
*.opendb
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/.suo
*.db
.vs/TaitEngine/v16/.suo
*.db
*.ipch
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/ipch/2207b225dedf6035.ipch
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/ipch/2207b225dedf6035.ipch
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/ipch/1023fb256b512d68.ipch
.vs/TaitEngine/v16/ipch/2207b225dedf6035.ipch
.vs/TaitEngine/v16/Solution.VC.db
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/Solution.VC.db
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/Solution.VC.db-shm
.vs/TaitEngine/v16/Solution.VC.db-wal
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
x64/Data/Character.png
x64/Data/Cursor.png
x64/Data/Enemies.png
x64/Data/Level1.png
x64/Data/Level2.png
x64/Data/Level3.png
x64/Data/Lingua.otf
x64/Data/logo.png
x64/Data/Projectile.png
x64/Data/Title.png
x64/Release/BubbleBobble.iobj
x64/Release/BubbleBobble.ipdb
