
*.obj
*.log
*.txt
*.tlog
*.pch
*.dll
*.exe
*.idb
*.lib
*.map
*.exp
*.ilk
*.pdb
*.opendb
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/.suo
*.db
.vs/TaitEngine/v16/.suo
*.db
*.ipch
.vs/TaitEngine/v16/.suo
.vs/TaitEngine/v16/Browse.VC.db
.vs/TaitEngine/v16/ipch/2207b225dedf6035.ipch
